.recentworks {
  margin: 0 auto;
  width: 1110px;
}

h1 {
  font-family: Manrope;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 48px;
}

.container {
  width: 1110px;
  margin: 0 auto;
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "row-1 row-2 row-2" "row-1 row-3 row-4" "row-5 row-5 row-4" "row-5 row-5 row-6";
}

.item-1 {
  grid-area: row-1;
  position: relative;
}

.item-2 {
  grid-area: row-2;
  position: relative;
}

.item-3 {
  grid-area: row-3;
  position: relative;
}

.item-4 {
  grid-area: row-4;
  position: relative;
}

.item-5 {
  grid-area: row-5;
  position: relative;
}

.item-6 {
  grid-area: row-6;
  position: relative;
}

h2 {
  margin: 0;
  position: absolute;
  top: 24px;
  left: 24px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  color: #18191F;
}

h4 {
  margin: 0;
  position: absolute;
  top: 72px;
  left: 24px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #18191F;
}
